footer {
    background: $gray-100;
    .ri-footerlogo {
        text-align: center;
        @include media-breakpoint-up(md) {
            text-align: left;
        }
        img {
            height: 27px;
            width: 73px;
            margin-top: 10px;
            @include media-breakpoint-up(md) {
                margin-top: 0;
            }
        }
    }
    .ri-socialicon {
        justify-content: center;
        display: flex;
        @include media-breakpoint-up(md) {
            justify-content: flex-end;
            padding-top: 0px;
        }
        ul {
            padding-top: 30px;
            @include media-breakpoint-up(md) {
                text-align: left;
                padding-top: 0px;
                margin: 0;
            }
            li {
                display: inline-block;
                vertical-align: top;
                a {
                    padding: 0px 10px;
                    img {}
                }
            }
        }
    }
}