// Body
$enable-rounded: true;
$blue: #0891B3;
$input-btn-padding-x:1.3rem;
$input-btn-padding-y:0.5rem;
$font-size-base :1rem;
$font-family-base:"Catamaran";
// $input-focus-bg: #dcad1a;
// $input-transition: border-color ease-in-out 1s, box-shadow ease-in-out 1s;