<footer class="pt-5 pb-4">
    <div class="container">
        <div class="row">

            <div class="col-md-6 ri-footerlogo">
                <img src="../img/logopng.png" />
            </div>
            <div class="col-md-6 ri-socialicon">
                <ul>
                    <li>
                        <a><img src="../img/facebook.svg" /></a>
                    </li>
                    <li>
                        <a><img src="../img/twitter.svg" /></a>
                    </li>
                    <li>
                        <a><img src="../img/google-plus (1).svg" /></a>
                    </li>
                    <li>
                        <a><img src="../img/linkedin.svg" /></a>
                    </li>
                    <li>
                        <a><img src="../img/instagram (2).svg" /></a>
                    </li>
                </ul>
            </div>
        </div>
</footer>