<header>


    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand"><img src="../img/logopng.png"></a>
            <div class="booknowbut">
                <button type="button" class="btn btn-primary booknow">Book Now</button>
            </div>
        </div>
    </nav>

</header>